 <nav class="navbar navbar-light bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: white; margin-left: 138px;">
            Gozak
        </a>

        <a class="navbar-brand" href="/"
            style="color: lightgray ; margin-right: 150px; justify-content: right;">
            Home
        </a>
    </div>
</nav>
